alias mkdir='mkdir -p'
alias cat='bat'

alias config='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias doco='docker-compose'

alias update='sudo apt-get update && sudo apt-get upgrade && sudo apt-get dist-upgrade'

open () {
    xdg-open "$@" &>/dev/null
}
